
.back_button{
    width: 250px;
    height: 50px;
    background: #141b2d;
    color: white;
}

.back_button:hover{
    background: #242f4a;
}

.page_title{
    color: #141b2d;
}

.register_box{
    width: 80%;
}


.delete_button{
    width: 450px;
    height: 50px;
    background: #D2001A;
    color: white;
}

.delete_button:hover{
    background: #E0144C;
    ;
}

