
.back_button{
    width: 250px;
    height: 50px;
    background: #141b2d;
    color: white;
}

.back_button:hover{
    background: #242f4a;
}

.page_title{
    color: #141b2d;
}

.register_box{
    width: 80%;
}

.input_item {
    width: 200px;
}

.register_button{
    width: 450px;
    height: 50px;
    background: #141b2d;
    color: white;
}

.register_button:hover{
    background: #242f4a;
}

.datepicker{
    width: 400px;
    height: 50px;
}