.box_login{
    width: 75%;
    height: 700px;
    margin: auto;
    margin-top: 20%;

}

.login_page{
    background-color:#141b2d;
    height: 1500px;

}


.box_section{
    background-color: #fff;
    height: 600px;
    
}

.login_description{
    color: #141b2d;
}

.login_image{
    height: 600px;
    width: 800px;
    filter: blur(1px);
}